aside{
    height: calc(100vh - 50px);
}

.sidebar{
    display:flex;
    flex-direction: column;
    gap: 1.8rem;
    height: 86vh;
    align-items: center;
    position: relative;
    top: 2rem;
}
.sidebar a{
    padding: 1rem;
    display: flex;
    color: var(--color-info-dark);
    align-items: center;
    position: relative !important;
    transition: all 300ms ease;
    font-size: 1.6rem;
   
}
aside .sidebar a:last-child{
    position: absolute !important;
    bottom: 2rem;
}
aside .sidebar a.active{
    background-color: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a:hover {
    margin-left: 1rem;
    color: var(--color-primary);
}

@media screen and (max-width:768px){
    aside{
        position:fixed ;
        left: -100%;
        background: var(--color-white);
        width: 7rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: block;
        animation: showMenu 400ms ease forwards;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
        
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 1rem;
        justify-content: center;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 2rem !important;
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    }
}
